:root {
    --ff-um: 'Poppins';
    --ff-dois: 'Raleway';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}

.nav-artigos {
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}

.nav-artigos__titulo {
    margin-bottom: 0.5rem;
    font-size: 40px;
}

.nav-artigos__lista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-artigos__item {
    margin: 0 0.25rem;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.nav-artigos__categoria--atual {
    border-bottom: 5px solid var(--cor-tres);
}

.card {
    margin: 1rem 2rem 2.5rem 2rem;
}

.card__imagem {
    min-height: 12rem;
    border-radius: 15px;
}

.card__conteudo {
    padding: 0.5rem;
}

.card__informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0.75rem;
}

.card__informacao {
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.8;
}

.card__informacao--data {
    text-align: right;
}

.card__titulo {
    margin-bottom: 1.5rem;
    font-size: var(--h2);
    font-weight: 600;
    line-height: 40px;
}

.card__link {
    color: var(--cor-tres);
}

.card__caminhos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__link {
    text-decoration: 2px solid underline var(--cor-tres);
}

.card__ativador {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    opacity: 0.7;
}

#o-que-e-BPM .card__imagem {
    background: url("https://images.unsplash.com/photo-1532288922150-c04819be02b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 150vw;
    background-position: center;
    background-repeat: no-repeat;
}

#boas-praticas-de-hidratacao .card__imagem {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}